---
---

// @import "minima";
@import "css/syntax.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";

.post-link {
	text-decoration: none;
	color: var(--bs-body-color);
}

.highlighter-rouge {
	margin-top: 0;
	margin-bottom: 1rem;
}

article > .footnotes {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

article {
	img {
		max-width: 100%;
		height: auto;
	}
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
		margin-top: 2rem;
	}
	li {
		margin-bottom: 0.2rem;
	}
}

// pre {
// 	// background-color: var(--bs-secondary-bg);
// 	border-radius: 0.5rem;
// 	padding: 1rem 1rem 1rem 2rem;
// }